[submodule "Weltschmerz"]
	path = Weltschmerz
	url = git@github.com:starandserpent/Weltschmerz.git
[submodule "TerraCore"]
	path = TerraCore
	url = git@github.com:starandserpent/TerraCore.git
[submodule "CentralConfig"]
	path = CentralConfig
	url = git@github.com:starandserpent/CentralConfig.git
